html{
	scroll-behavior: smooth;
}
*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #1C1B2A;
	margin: 0px;
	color: black;
}

/* Splash Page Background Image*/
.splash-bg{
	background: url(../images/chicagosky.jpg) no-repeat center center fixed;
	padding-bottom: 2.5%;
}
@media (min-width: 1200px){
	.splash-bg{
		background-size: 100%;
	}
}

/* Navbar styling*/
.toggler{
	font-size: 2rem;
	background: white;
	padding: 20px;
	border-radius: 75px;
}
.main-nav{
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.836);
	width: 40%;
}
@media (min-width: 576px){
	.main-nav{
		width: 60%;
	}
}
@media (min-width: 992px){
	.main-nav{
		width: 45%;
	}
}
@media (min-width: 1200px){
	.main-nav{
		width: 35%;
	}
}


.nav-links{
	white-space:nowrap;
}
.nav-link-hover{
	color: black;
}
.nav-link-hover:hover{
	border-bottom: 2px solid black;
	line-height: normal;
}
/* Splash Page Styling*/
#home{
	margin-top: 5%;
	margin-bottom: 28%;
	background:rgba(0, 0, 0, 0.863)
}
#home hr{
	border: 1px solid white;
}
.home-text{
	color:white;
	display:table-cell;
	vertical-align: middle;
}
/* Skills Section Styling */
.scroll-down{
	color: white;
	background: rgb(0, 0, 0);
}

#skills{
	padding-top:10%;
	padding-bottom: 10%;
	background: rgb(129, 214, 240);
}
#skills ul li{
	font-size: 1.3rem;
}
.test{
	border-radius: 5px;
}
.table-top th{
	border: none;
}

/* Projects Section */
#projects{
	padding-top: 5%;
	padding-bottom: 5%;
	background: #181712;
	color: white;
}
.projects{
	background: #181712;
}

.projects-title{
	background: #181712;
	padding-top: 2%;
	padding-bottom: .5%;
	color: white;
}
.projects-bottom{
	height: .5%;
	background: #72A8D6;
}

.weeklyjams-col{
	background: rgb(17, 98, 190);
	border-radius: 10px;
	padding-top: 20px;
}
.mylibly-col{
	background: rgb(204, 91, 83);
	border-radius: 10px;
	padding-top: 20px;
	color: whte;
}
.github-col{
	background: black;
	border-radius: 10px;
	padding-top: 20px;
	color:white;
}
#projects p{
	margin-left: auto;
	margin-right: auto;
}
/* Parallax Background */
#parallax{
	padding-top: 25%;
	height: 75%;
	background: url(../images/keyboard.jpg) no-repeat center center fixed;
}
@media (min-width: 1200px){
	#parallax{
		background-size: 100%;
	}
}


/* About Section */
#about hr{
	border: 1px solid white;
}
#about .row{
	padding-top: 5%;
	padding-bottom: 5%;
	background: #181712;
	color: white;
}
.why-code-col{
	border: 2px solid White;
	padding: 10px;
	border-radius: 10px;
}

.about-me li{
	padding-bottom: 20px;
}

/* Contact Section*/
#contact{
	padding-top: 10%;
	padding-bottom: 5%;
	background: rgb(129, 214, 240);
	color: black;
}
.contact-container{
	background: rgb(129, 214, 240);
}

.email-text{
	color: white;
	background: rgb(17, 98, 190);
	border-radius: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}
@media (min-width: 576px){
	.email-text{
		margin-left: 20%;
		margin-right: 20%;
		}
}
@media (min-width: 1200px){
	.email-text{
		margin-left: 35%;
		margin-right: 35%;
	}
}
/*Footer Section*/
#footer{
	background: #181712;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
}
#footer .btn-outline-dark:hover{
	background: rgb(17, 98, 190) !important;
	border: 1px solid white;
}
