*{
	margin: 0px;
	padding: 0px;
}
body{
	background: white;
	margin: 0px;
	color:black;
}

/* Splash Page Background Image*/
.splash-bg{
	background: url(chicagosky.jpg) no-repeat center center fixed;
	padding-bottom: 2.5%;
}

/* Navbar styling*/
.toggler{
	font-size: 2rem;
	background: white;
	padding: 20px;
	border-radius: 75px;
}
.main-nav{
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.836);
}
.nav-links{
	white-space:nowrap;
}
.nav-link-hover{
	color: black;
}
.nav-link-hover:hover{
	border-bottom: 2px solid black;
	line-height: normal;
}
/* Splash Page Styling*/
#home{
	margin-top: 5%;
	margin-bottom: 28%;
	background:rgba(0, 0, 0, 0.863)
}
#home hr{
	border: 1px solid white;
}
.home-text{
	color:white;
	display:table-cell;
	vertical-align: middle;
}
/* Skills Section Styling */
.scroll-down{
	color: white;
	background: rgb(0, 0, 0);
}

#skills{
	padding-top:10%;
	padding-bottom: 10%;
	background: lightcoral;
}
#skills ul li{
	font-size: 1.3rem;
}
.test{
	border-radius: 5px;
}
.table-top th{
	border: none;
}

/* Projects Section */
#projects{
	margin-top: 5%;
	margin-bottom: 5%;
}

#projects .project-row{
	margin-top: 5%;
}

#projects p{
	margin-left: auto;
	margin-right: auto;
}
/* Parallax Background */
#parallax{
	padding-top: 25%;
	height: 50%;
	background: url(https://images.pexels.com/photos/220357/pexels-photo-220357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
}

/* About Section */
#about{
	margin-top: 5%;
	margin-bottom: 5%;
}
.about-me li{
	padding-bottom: 20px;
}

/* Contact Section*/
#contact{
	margin-top:10%;
	margin-bottom: 10%;
}