*{
	margin: 0px;
	padding: 0px;
}
body{
	background: white;
	margin: 0px;
	color:black;
}

/* Splash Page Background Image*/
.splash-bg{
	background: url(chicagosky.jpg) no-repeat center center fixed;
	padding-bottom: 2.5%;
}
@media (min-width: 1200px){
	.splash-bg{
		background-size: 100%;
	}
}

/* Navbar styling*/
.toggler{
	font-size: 2rem;
	background: white;
	padding: 20px;
	border-radius: 75px;
}
.main-nav{
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.836);
	width: 40%;
}
@media (min-width: 576px){
	.main-nav{
		width: 60%;
	}
}
@media (min-width: 992px){
	.main-nav{
		width: 45%;
	}
}
@media (min-width: 1200px){
	.main-nav{
		width: 35%;
	}
}


.nav-links{
	white-space:nowrap;
}
.nav-link-hover{
	color: black;
}
.nav-link-hover:hover{
	border-bottom: 2px solid black;
	line-height: normal;
}
/* Splash Page Styling*/
#home{
	margin-top: 5%;
	margin-bottom: 28%;
	background:rgba(0, 0, 0, 0.863)
}
#home hr{
	border: 1px solid white;
}
.home-text{
	color:white;
	display:table-cell;
	vertical-align: middle;
}
/* Skills Section Styling */
.scroll-down{
	color: white;
	background: rgb(0, 0, 0);
}

#skills{
	padding-top:10%;
	padding-bottom: 10%;
	background: rgb(231, 159, 111);
}
#skills ul li{
	font-size: 1.3rem;
}
.test{
	border-radius: 5px;
}
.table-top th{
	border: none;
}

/* Projects Section */
#projects{
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: .25%;
	background: rgb(70, 115, 240);
	color: white;
}
.projects{
	background: rgb(70, 115, 240);
}
#projects hr{
	border: 1px solid white;
}

.projects-title{
	background: rgb(113, 207, 235);
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: .25%;

	color: white;
}
.weeklyjams-col{
	background:black;
	border-radius: 10px;
	padding-top: 20px;
	border: 3px solid white;
}
.mylibly-col{
	background: rgb(152, 177, 201);
	border-radius: 10px;
	padding-top: 20px;
	color:black;
	border: 3px solid white;
}
.github-col{
	background: rgb(142, 136, 233);
	border-radius: 10px;
	padding-top: 20px;
	color:black;
	border: 3px solid white;
}
#projects p{
	margin-left: auto;
	margin-right: auto;
}
/* Parallax Background */
#parallax{
	padding-top: 25%;
	height: 50%;
	background: url(https://images.pexels.com/photos/220357/pexels-photo-220357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
}
@media (min-width: 1200px){
	#parallax{
		background-size: 100%;
	}
}


/* About Section */
#about{
	margin-top: .25%;
	margin-bottom: .25%;
}
#about hr{
	border: 1px solid white;
}
#about .row{
	padding-top: 5%;
	padding-bottom: 5%;
	background: rgb(113, 144, 179);
	color: white;
}
.why-code-col{
	border: 2px solid White;
	padding: 10px;
	border-radius: 10px;
}

.about-me li{
	padding-bottom: 20px;
}

/* Contact Section*/
#contact{
	margin-bottom: .25%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: plum;
}
.contact-container{
	background: plum;
}

/*Footer Section*/
#footer{
	padding-top: 3.5%;
	padding-bottom: 3.5%;
}